# macOS junk files
.DS_Store

# Python + Jupyter temp files
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environments
env/
venv/

# Log files
*.log

# Large dataset folders - IGNORE THESE!
Insider Threat Test Dataset/data_raw/
Insider Threat Test Dataset/data_processed/
